ADF.Base/Messaging/MessageDefinitionSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="record">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="field">
                <xs:complexType>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="string"/>
                        <xs:enumeration value="integer"/>
                        <xs:enumeration value="decimal"/>
                        <xs:enumeration value="boolean"/>
                        <xs:enumeration value="float"/>
                        <xs:enumeration value="record"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="length" type="xs:integer" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="optional" type="xs:boolean" use="required" />
                  <xs:attribute name="format" type="xs:string" use="required" />
                  <xs:attribute name="startposition" type="xs:long" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="repeats" type="xs:int" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>